---
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

import { SITE_DESCRIPTION } from '../config';
import Page from '../layouts/Page.astro';
import BrandIcon from '../components/BrandIcon.astro';
import Card from '../components/Card.astro';

const LABELS = {
    "idea": {
        name: "Idee",
        class: ""
    },
    "planning": {
        name: "In Planung",
        class: "is-info"
    },
    "wip": {
        name: "In Arbeit",
        class: "is-danger"
    },
    "alpha": {
        name: "Alpha",
        class: "is-warning"
    },
    "beta": {
        name: "Beta",
        class: "is-info"
    },
    "release": {
        name: "Release",
        class: "is-success"
    },
    "archived": {
        name: "Archiviert",
        class: "is-dark"
    }
};

const projects = await getCollection("project");
---
<Page title="Projekte" description={SITE_DESCRIPTION}>
    <div class="project-grid pure-g">
    {projects.sort((a, b) => a.id.localeCompare(b.id)).map((project: CollectionEntry<"project">) => {
        <Card classes="pure-u-1 pure-u-md-1-2" icon={project.data.icon} title={project.data.name} enableFooter>
            <p slot="header" class:list={["tag", LABELS[project.data.state].class]}>{LABELS[project.data.state].name}</p>
            {project.body}
            <a slot="footer" href={project.data.repo} target="_blank" class="navbar-item card-footer-item"><BrandIcon icon="github-icon" color="var(--navbar-item-color)" /><span>Repository</span></a>
        </Card>
    })}
    </div>
</Page>
<style>
    .project-grid {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .tag {
        margin-left: auto;
        margin-top: 0;
        border-radius: var(--card-radius);
        display: inline-flex;
        height: 2em;
        justify-content: center;
        line-height: 200%;
        padding-left: 0.75em;
        padding-right: 0.75em;
        white-space: nowrap;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        color: #000;
    }

    .tag.is-danger {
        background-color: hsl(347.8, 100%, 70%);
    }

    .tag.is-info {
        background-color: hsl(198deg, 100%, 70%);
    }

    .tag.is-success {
        background-color: hsl(153deg, 53%, 53%);
    }

    .card-footer-item {
        display: flex;
        align-items: center;
    }
</style>