---
import {Image} from "astro:assets";
import BrandIcon from "./BrandIcon.astro";
import TechnologyList from "./TechnologyList.astro";
import type { CollectionEntry } from "astro:content";

type Skill = CollectionEntry<'skill'>['data'];
const skill = Astro.props.skill as Skill;
---
<label class="skill-cell" for={skill.tech ? skill.icon ?? skill.name : undefined}>
    {skill.icon != undefined ? (<BrandIcon icon={skill.icon} />) : skill.image && (<Image src={skill.image} alt="" />)}
    <p>{skill.name}</p>
    <progress class="progress is-primary is-small" max="100" value={skill.level}></progress>
	{skill.tech && (<TechnologyList skill={skill} />)}
</label>
<style>
    .skill-cell {
		text-align: center;
		background-color: var(--primary-background);
		border-radius: 1em;
		padding: 1em 0.5em;
		color: var(--primary-text);
		font-weight: bold;
		flex-basis: 20%;
		flex-grow: 1;
		transition: all 0.5s;
		margin-bottom: 1.5rem;
		user-select: none;
		max-width: 30%;
	}

	.skill-cell > img, .skill-cell > svg {
		width: 100%;
		height: 50%;
		max-height: 4em;
	}

	.skill-cell:hover {
		background-color: var(--primary-background-hover);
	}

	.skill-cell:has(> input:checked) {
        background-color: var(--primary-background-hover);
		flex-basis: 100%;
		max-width: 100%;
		aspect-ratio: 1 / 1;
    }

	.progress {
		display: block;
		height: 0.25em;
		width: 100%;
		margin: 0.2em 0;
		background-color: var(--primary-dark);
	}
</style>